@import "tailwindcss";

@theme {
  --font-syne: 'Syne', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
  }
}

/* Custom hide-scrollbar class for the marquee */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
